### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
#Find the total number of players -- "SN" = screen name, use to count total #
# Use len to go into the SN's row of data and gather that total #
total_players = len(purchase_data_df["SN"].value_counts())

# Create a dataframe to display the total player count...set index to 0 
df_players = pd.DataFrame({"Total Players": total_players}, index = [0])

df_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Number of Unique Items
# Use the len().value_counts to find the total unique item numbers
unique_items = len(purchase_data_df["Item ID"].value_counts())

# Show a cleaner data display
df_unique_items= pd.DataFrame({"Number of Unique Items": unique_items}, index = [0])
df_unique_items

   Number of Unique Items
0                     179

In [6]:
#Average Purchase Price
average_purchase_price = purchase_data_df["Price"].mean()

# Show a cleaner data display
df_average_purchase_price = pd.DataFrame({"Average Purchase Price": average_purchase_price}, index = [0])
df_average_purchase_price

   Average Purchase Price
0                3.050987

In [7]:
# Total Number of Purchases
total_purchases = len(purchase_data_df["Price"])
total_purchases

# Show a cleaner data display
df_total_purchases = pd.DataFrame({"Total Number of Purchases": total_purchases}, index = [0])
df_total_purchases

   Total Number of Purchases
0                        780

In [8]:
# Total Revenue
revenue = purchase_data_df["Price"].sum()
revenue

# Display with clean data
df_revenue = pd.DataFrame({"Total Revenue": revenue}, index = [0])
df_revenue

   Total Revenue
0        2379.77

In [9]:
#Displaying the purchasing analysis Summary Data Frame
df_purchasing_analysis = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Average Purchase Price": average_purchase_price, 
                                      "Total Number of Purchases": total_purchases,
                                      "Total Revenue": revenue}, index = [0])
#Displaying the purchasing analysis Summary Data Frame
df_purchasing_analysis = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Average Purchase Price": average_purchase_price, 
                                      "Total Number of Purchases": total_purchases,
                                      "Total Revenue": revenue}, index = [0])

df_purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
# Create a full count to be able to divide against the individual genders to find percent
full_gender_count = purchase_data_df["SN"].nunique()

In [26]:
# Count of Male Player
male_total = purchase_data_df[purchase_data_df["Gender"] == "Male"]["SN"].nunique()
male_total

484

In [27]:
# Percent of male players
male_percent = ((male_total/full_gender_count)*100)
male_percent

84.02777777777779

In [29]:
# Total count of Female Players
female_total = purchase_data_df[purchase_data_df["Gender"] == "Female"]["SN"].nunique()
female_total

81

In [30]:
# Percent of Female Players
female_percent = ((female_total/full_gender_count)*100)
female_percent

14.0625

In [32]:
#Count of other / non-disclosed
other_total = full_gender_count - male_total - female_total
other_total

11

In [33]:
# Percent of other / non-disclosed
other_percent = ((other_total/full_gender_count)*100)
other_percent

1.9097222222222223

In [36]:
# Display the above information into a clean summary table: 
df_gender_demographics = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [male_total, female_total, other_total],
                                      "Percentage of Players": [male_percent, female_percent, other_percent]}, columns = 
                                     ["Gender", "Total Count", "Percentage of Players"])
gender_summary_table = df_gender_demographics.set_index("Gender")

# Round the Percentage of Players column to 2nd decimal place...refer to Stack Overlow and the rounding input...
gender_summary_table.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Full purchase count for every gender
full_gender_purchase = purchase_data_df["SN"].nunique()
full_gender

In [37]:
# Purchase Count for Male
male_purchase = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].count()
male_purchase

652

In [38]:
# Purchase Count for Female
female_purchase = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].count()
female_purchase

113

In [39]:
#Purchase Count for Other / Non-disclosed...use "total_purchase" from the above segment to calculate
other_purchase = total_purchases - male_purchase - female_purchase
other_purchase

15

In [41]:
#find the average purchase price for Males
male_purchase_mean = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].mean()
male_purchase_mean

3.0178527607361953

In [43]:
#find the average purchase price for females
female_purchase_mean = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].mean()
female_purchase_mean

3.203008849557519

In [44]:
#find the average purchase price for other / non-disclosed
other_purchase_mean = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].mean()
other_purchase_mean

3.3460000000000005

In [45]:
# Find the Total Purchase value for Men
male_purchase_total = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].sum()
male_purchase_total

1967.64

In [46]:
# Find the Total Purchase value for Female
female_purchase_total = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].sum()
female_purchase_total

361.94

In [47]:
# Find the Total Purchase value for Other / Non-Disclosed
other_purchase_total = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
other_purchase_total

50.19

In [78]:
df_avg_price_per_person = purchase_data_df.groupby(["SN", "Gender"])[["Price"]].sum().reset_index().groupby("Gender")["Price"].mean()
df_avg_price_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [53]:
#Code to find the avg total purchase per person
df_avg_price_per_person = purchase_data_df.groupby(["SN", "Gender"])[["Price"]].sum().reset_index().groupby("Gender")["Price"].mean()
df_avg_price_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [55]:
#Put the above analysis to match the summary table below: 
df_gender_pricing_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                           "Purchase Count": [male_purchase, female_purchase, other_purchase], 
                                            "Average Purchase Price": [male_purchase_mean, female_purchase_mean, other_purchase_mean], 
                                           "Total Purchase Value": [male_purchase_total, female_purchase_total, other_purchase_total],
                                           "Avg Total Purchase per Person": [df_avg_price_per_person]},
                                         columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

pricing_analysis_table = df_gender_pricing_analysis.set_index("Gender")

ValueError: arrays must all be same length

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
# Find the Max and Min values of the Age columns to find the best way to bin
print(purchase_data_df['Age'].max())
print(purchase_data_df['Age'].min())

45
7

In [80]:
# Using the table for reference, create bins in which the Data will be stored
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create names for bins
bin_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [82]:
# Create df for unique list of ages - one for each Screen Name 'SN' value
sn_age_group = purchase_data_df.groupby(['SN'])
df_sn_bin_age = pd.DataFrame(sn_age_group['Age'].max())

In [84]:
#Use unique age groups above and the bins/group names to place ages into bins
df_sn_bin_age["Age Bins"] = pd.cut(df_sn_bin_age["Age"], bins, labels=bin_group_names)

In [85]:
#Change index to be the age bin lables....use the inplace=TRUE - refer to STCKOVFLW
df_sn_bin_age.set_index('Age Bins', inplace=True)

In [86]:
# Assign the re arranged bins into new data frame...
# count how many values are in eacg bin by using groupby on age, bin, labels
df_bin_age = pd.DataFrame(df_sn_bin_age.groupby(['Age Bins']).count())

In [95]:
# Rename the column to 'Total Column' instead of Age...use re-name
df_bin_age.rename(columns = {'Age': 'Total Count'}, inplace = True)

In [96]:
# Calculate the % of total players in each bin
df_bin_age['Percentage of Players'] = df_bin_age['Total Count'] / total_players * 100

In [97]:
# Format the cells using map() to be 2 decimal places....refer the percent from python hw
df_bin_age['Percentage of Players'] = df_bin_age['Percentage of Players'].map("{:.2f}%".format)
df_bin_age

          Total Count Percentage of Players
Age Bins
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
#Bin the original dataframe by age...use the bins created above...already did that work(!)
purchase_data_df["Age Bins"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_group_names)

In [99]:
# Calculation to find purchase count 
age_group = purchase_data_df.groupby(['Age Bins'])
purchase_count = age_group['Purchase ID'].count()
purchase_count

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [100]:
# Calculate the Average purchase price
mean_purchase_price = age_group['Price'].mean()
mean_purchase_price

Age Bins
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [103]:
# Calculate total purchase value
total_purchase_value = age_group['Price'].sum()
total_purchase_value

Age Bins
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [127]:
# find the top 5 spenders from the list below
top_spenders = purchase_data_df.groupby('SN')

# Find total purchases and sort in descending order, find first 5 rows
top_five = top_spenders["Price"].sum().sort_values(ascending=False) [0:5]
top_five

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [128]:
#Top spending SN index values from first rows of data...place into list
top_spending_sn = top_five.index.values[0:5]
top_spending_sn

array(['Lisosia93', 'Idastidru52', 'Chamjask73', 'Iral74', 'Iskadarya95'],
      dtype=object)

In [129]:
# Get all rows from purchase_data_df where the top five spender's SN is in "top_spending_sn"...look up .isin fx
top_five = purchase_data_df[purchase_data_df['SN'].isin(top_spending_sn)]

#group top_five by SN
top_five_group = top_five.groupby(['SN'])
top_five_group

In [131]:
# Calculate the purchase count
top_five_purchase_count = top_five_group['Purchase ID'].count().sort_values(ascending=False)
top_five_purchase_count

SN
Lisosia93      5
Iral74         4
Idastidru52    4
Iskadarya95    3
Chamjask73     3
Name: Purchase ID, dtype: int64

In [132]:
# Calculate the total purchases 
top_five_total_purchase = top_five_group['Price'].sum().sort_values(ascending=False)
top_five_total_purchase

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [133]:
# Calculate the average purchase price for each top 5 sn
avg_purchase_price = top_five_group['Price'].mean().sort_values(ascending=False)
avg_purchase_price

SN
Chamjask73     4.610000
Iskadarya95    4.366667
Idastidru52    3.862500
Lisosia93      3.792000
Iral74         3.405000
Name: Price, dtype: float64

In [150]:
#Display in summary table
df_top_spender_summary = pd.DataFrame({"Purchase Count": top_five_purchase_count,
                                      "Average Purchase Price": avg_purchase_price, 
                                      "Total Purchase Value": top_five_total_purchase})

#Clean the data
df_top_spender_summary['Average Purchase Price'] = df_top_spender_summary['Average Purchase Price'].map("${:.2f}".format)
df_top_spender_summary['Total Purchase Value'] = df_top_spender_summary['Total Purchase Value'].map("${:.2f}".format)

#Sort values in descending order
df_top_spender_summary.sort_values('Total Purchase Value', ascending=False)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80